<!DOCTYPE html>
<html>
<head>
  <title>Betvictor</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="header">
    <%= image_tag "logo.png" %>
  </div>
</div>
<hr>
<%= yield %>


</body>
</html>
